@media only screen and (max-width: 767px) {
    /*================================================
    Default CSS
    =================================================*/
    :root{
        --fontSize: 14px;
        --card-title-fontSize: 18px;
    }
    .ptb-100 {
        padding: {
            top: 50px;
            bottom: 50px;
        }
    }
    .pt-100 {
        padding-top: 50px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .ptb-70 {
        padding: {
            top: 20px;
            bottom: 20px;
        }
    }
    .pt-70 {
        padding-top: 20px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pt-30{
        padding-top: 30px;
    }
    .pl-20{
        padding-left: 0px;
    }
    .pr-20{
        padding-right: 0px;
    }
    .default-section-title {
        h3 {
            font-size: 20px;
        }
    }
    .section-content{
        margin-top: 0px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /*================================================
    Default CSS
    =================================================*/
    :root{
        --card-title-fontSize: 20px;
    }
    .ptb-100 {
        padding: {
            top: 80px;
            bottom: 80px;
        }
    }
    .pt-100 {
        padding-top: 80px;
    }
    .pb-100 {
        padding-bottom: 80px;
    }
    .ptb-70 {
        padding: {
            top: 50px;
            bottom: 50px;
        }
    }
    .pt-70 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 50px;
    }
    .pt-30{
        margin-top: 30px;
    }
    .pl-20,.pr-20{
        padding: {
            left: 0px;
            right: 0px;
        };
    }
    .section-content{
        margin-top: 0px;
    }
    .default-section-title {
        h3{
            font-size: 29px;
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    :root {
        --card-title-fontSize: 18px;
        --fontSize: 14px;
    }

    .section-title {
        h3 {
            font-size: 32px;
        }
    }

    .banner-area {
        .banner-text-area {
            padding: {
                top: 120px;
                bottom: 120px;
            };
            h1 {
                font-size: 48px;
            }
        }
    }

    .service-card {
        h3 {
            font-size: 16px;
        }
    }
    
    .pl-70 {
        padding-left: 0;
    }



}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    :root {
        --card-title-fontSize: 22px;
        --fontSize: 14px;
    }

    .section-title {
        h3 {
            font-size: 38px;
        }
    }

    .banner-area {
        .banner-text-area {
            padding: {
                top: 150px;
                bottom: 150px;
            };
        }
    }

    .footer-contact {
        li {
            a {
                font-size: 14px;
            }
        }
    }

    .pl-70 {
        padding-left: 35px;
    }
}

@media only screen and (min-width: 1550px) {

    // Home banner Area
    .banner-area {
        .banner-text-area  {
            padding: {
                top: 280px;
                bottom: 280px;
            };
            h1 {
                font-size: 74px;
            }
        }
    }
}

